<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<form>
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="idDni">Dni</label> <input type="text"
						class="form-control" id="idDni">
				</div>
				<div class="form-group col-sm-4">
					<label for="idNombre">Nombres</label> <input type="text"
						class="form-control" id="idNombre">
				</div>
				<div class="form-group col-sm-4">
					<label for="idDireccion">Direccion</label> <input type="text"
						class="form-control" id="idDireccion">
				</div>
				<div class="form-group col-sm-4">
					<label for="idTelefono">Telefono</label> <input type="text"
						class="form-control" id="idTelefono">
				</div>

			</div>
			<div class="form-group">
				<input type="text" class="btn btn-primary" id="buttonClick"
					value="Buscar"> <input type="text" class="btn btn-primary"
					id="addProveedor" value="Add">
			</div>
			<div class="form-group">
				<select id="idSelectProveedor" class="form-control form-control-sm">
				</select>
			</div>

		</form>
	</div>
	<script type="text/javascript">
		var buttonClick;
		var listProveedor;
		var add;
		var nombre, dni, nombre, direcion, telefono;
		$(document).ready(function() {
			debugger;
			//alert("ddd");
			buttonClick = $("#buttonClick");
			listProveedor = $("#idSelectProveedor");
			dni=$("idDni");
			nombre=$("idNombre");
			direcion=$("idDireccion");
			telefono=$("idTelefono");
			add=$("addProveedor");
			buttonClick.click(function() {
				cargarProveedor();
			});
			buttonAdd.click(function() {
				registrarProveedor();
			});

		});
		function registrarProveedor() {
			debugger;
			url = "/proveedor/save";
			dniProve=dni.val();
			nombreProve=nombre.val();
			direccionProve=direccion.val();
			telefonoProve=telefono.val();
			jsonData={
					dni:dniProve,
					nonbre:nombreProve,
					direccion:direccionProve,
					telefono:telefonoProve
					
			}
			$.get(
					url,
					function(responsJson) {
						listProveedor.empty();
						$.each(responsJson, function(index, proveedor) {
							//alert(proveedor.nombre);
							$("<option>").val(proveedor.id).text(
									proveedor.nombre).appendTo(listProveedor);
						});
					}).done(function() {
				//alert("done");
			}).fail(function() {
				//alert("fail");
			});
		}
		function cargarProveedor() {
			debugger;
			url = "/proveedor/listado";
			$.get(
					url,
					function(responsJson) {
						listProveedor.empty();
						$.each(responsJson, function(index, proveedor) {
							//alert(proveedor.nombre);
							$("<option>").val(proveedor.id).text(
									proveedor.nombre).appendTo(listProveedor);
						});
					}).done(function() {
				//alert("done");
			}).fail(function() {
				//alert("fail");
			});
		}
	</script>
</body>
</html>