<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<script type="text/javascript" th:fragment="javascript">
	$(document).ready(function() {
		//alert("sssss");
		//debugger;
		$("#buscar_proveedor").autocomplete({
			source : function(request, response) {
				$.ajax({
					url : "/proveedores/" + request.term,
					dataType : "json",
					data : {
						term : request.term
					},
					success : function(data) {
						response($.map(data, function(item) {
							return {
								value : item.id,
								label : item.dni,
								nombre : item.nombre,
								direccion : item.direccion,
								telefono : item.telefono
							};
						}));
					},
				});
			},
			select : function(event, ui) {
				$("#buscar_proveedor").val(ui.item.label);
				/*
				if(itemsHelper.hasProducto(ui.item.value)){
					itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
					return false;
				}
				var linea = $("#plantillaItemsFactura").html();
				linea = linea.replace(/{ID}/g, ui.item.value);
				linea = linea.replace(/{NOMBRE}/g, ui.item.label);
				linea = linea.replace(/{PRECIO}/g, ui.item.precio);
				$("#cargarItemProductos tbody").append(linea);
				itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);
				*/
				return false;
			}
		});
		
	});
	/*
	$("form").submit(function(){
		$("#plantillaItemsFactura").remove();
		return;
	});
	*/
	</script>
</body>
</html>